/*GENERAL*/
body {
	margin: 0px;
}

/*ABOUT*/

#about-elements {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*transform: translate(20%, 50%);*/
	padding-left: 100px;
	padding-top: 200px;
}

#about-background {
	z-index: -2;
	width: 100%;
	height: 100%;
	background-color: #2F2F2F;
}

#bio {
	box-sizing: content-box;
	max-width: 100%;
}

.about-text {
	font-family: 'Glegoo', serif;
	text-align: right;
	margin-right: 100px;
}

#header {
	font-size: 33.5px;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

#body-text {
	font-size: 13px;
	color: white;
}

#email {
	font-size: 13.5px;
	color: #FFE700;
	margin-bottom: 0px;
}

#profile-pic {
	margin-top: 15px;
}

#profile-pic img {
	width: 385px;
	height: auto;
}

#typed-strings {
	color: white;
}

#back-arrow {
	position: absolute;
	top: 80%;
	left: 5%;
}

/*#back-arrow img {
	top: 310px;
	left: 60px;

}*/

/*INDEX: HOME VIEW*/

#room-light {
	width: 100%;
	height: 100%;
	background: #5F5F5F;
	position: absolute;
	z-index: -2;
}

#open-sesame {
	font-family: 'Glegoo', serif;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 280px;
	position: absolute;
	width: 100%;
}

#bulb {
	width: 165px;
	height: auto;
	animation: swing 0.5s ease-in-out 0.7s 3 alternate;
	animation-fill-mode: forwards;
	transform-origin: top;
	cursor: pointer;
	
}
/*
#bulb:hover {
	cursor: pointer;
}*/

.light-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#spotlight {
	display: none;
	z-index: -1;
	position: relative;
/*	transform: translate(25.3%, -10%);*/
}

#spotlight img {
	transform: translate(50.6%, -10%);
}

#welcome {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

#greeting {
	font-family: 'Glegoo', serif;
	text-align: center;
	color: #707070;
	font-size: 40px;
	line-height: 48px;
	margin-top: 150px;
	display: none;
}

.button {
	font-family: 'Helvetica Neue', serif;
	font-weight: 300;
	font-size: 20px;
	color: #00A1C7;
	text-decoration: none;
	position: absolute;
	z-index: 2;
	display: none;
	top: 40px;
}

#link-to-about {
	right: 120px;
}

#quick-photos {
	right: 220px;
}

#scroll-button {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#down-arrow {
	display: none;
	position: relative;
	left: 48.5%;
	padding-bottom: 40px;
	animation: button-down 1s ease-out 0.3s infinite;
}

#down-arrow:hover {
	cursor: pointer;
}

.section {
	width: 100%;
	height: 100%;
}

@keyframes swing {
	0% { transform: rotate(-4deg); }
	50% { transform: rotate(4deg); }
	100% { transform: rotate(0deg); }
}

@keyframes button-down {
	0% { transform: translateY(0px); }
	50% { transform: translateY(8px); }
	100% { transform: translateY(0px); }
}

/*INDEX: COLOR PICKER VIEW*/

#instructions {
	font-family: 'Glegoo', serif;
	text-align: center;
	color: #9A9999;
	font-size: 25px;
	padding-top: 80px;
	position: absolute;
	width: 100%;

}

#clotheshanger {
	padding-top: 190px;
	position: absolute;
	width: 100%;
	z-index: 1;
}


#drag-1 {
	left: 20%;
	top: 131%;
}

#drag-2 {
	left: 45%;
	top: 134%;
}

#drag-3 {
	left: 75%;
	top: 132%;
}

.draggable {
	width: 145px;
	height: 198.75px;
	user-select: none;
	position: absolute;
}

#dropzone {
	width: 100%;
	height: 100%;
}

/*INDEX: GALLERY*/

#studio-background {
	width: 100%;
	height: 100%;
	background: rgba(138, 183, 143, 0.2);
}

#filmstrip {
	width: 90%;
	display: flex;
	flex-direction: row;
	position: absolute;
	padding: 160px 0px 0px 35px;
}

.animate {
	animation: moveIn 1.5s ease-out 0.5s 1;
	animation-fill-mode: backwards;
}

@keyframes moveIn {
	0% {transform: translateX(200%)};
	100% {transform: translateX(0%);}
}

.photo {
/*	display: none;*/
	width: 384px;
	height: 235px;
	background-size: cover;
	margin: 10px;
}

#one {
	background-image: url("../img/green1.jpg");
}

#two {
	background-image: url("../img/green2.jpg");
}

#three {
	background-image: url("../img/green3.jpg");
}

#switch-colors {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	width: 160px;
	height: 90%;
	padding-left: 40px;
}

.dot {
	height: 25px;
  	width: 25px;
  	border-radius: 50%;
}

.dot:hover {
	cursor: pointer;
}

#cyan-dot {
	background-color: #8AB78F;

}

#magenta-dot {
	background-color: #FF7E7E;
}

#yellow-dot {
	background-color: #F4F4F4;
}

#white-dot {
	background-color: white;
}

#color-label {
	width: 100%;
	text-align: left;
	position: absolute;
}

.color-stuff {
	padding-left: 50px;
	color: #5F5F5F;
/*	display: none;*/
}

#color-name {
	font-family: 'Abel', serif;
	font-size: 55px;
	padding-top: 490px;
}

#color-description {
	font-family: 'Glegoo', serif;
	font-size: 20px;
}


/*TEST SECTION*/
/*Snowflakes*/
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 2px #999999;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}
.snowflake{
	position:fixed;top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:10s,3s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:10s,3s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running
}
.snowflake:nth-of-type(0){
	left:1%;
	-webkit-animation-delay:0s,0s;
	animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
	left:10%;
	-webkit-animation-delay:1s,1s;
	animation-delay:1s,1s
}
.snowflake:nth-of-type(2){
	left:20%;
	-webkit-animation-delay:6s,.5s;
	animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
	left:30%;
	-webkit-animation-delay:4s,2s;
	animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
	left:40%;
	-webkit-animation-delay:2s,2s;
	animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
	left:50%;
	-webkit-animation-delay:8s,3s;
	animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
	left:60%;
	-webkit-animation-delay:6s,2s;
	animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
	left:70%;
	-webkit-animation-delay:2.5s,1s;
	animation-delay:2.5s,1s
}
.snowflake:nth-of-type(8){
	left:80%;
	-webkit-animation-delay:1s,0s;
	animation-delay:1s,0s
}
.snowflake:nth-of-type(9){
	left:90%;
	-webkit-animation-delay:3s,1.5s;
	animation-delay:3s,1.5s
}
.snowflake:nth-of-type(10){
	left:25%;
	-webkit-animation-delay:2s,0s;
	animation-delay:2s,0s
}
.snowflake:nth-of-type(11){
	left:65%;
	-webkit-animation-delay:4s,2.5s;
	animation-delay:4s,2.5s
}


